<html>
  <head>
  </head>

  <body>
    This page is not supported
    <form action="/get/support" method="get">
      <div>
        <input name="thing" placeholder="thing that is not supported"></input>
        <input type="submit"></input>
      </div>
      <div>
        <input type="radio" name="verb" value="is" checked>singular</input>
        <input type="radio" name="verb" value="are">plural</input>
        <input type="checkbox" name="nsfw">nsfw</input>
      </div>
      <div>
      <%= prefixes %>
        reason: <select name="reason">
          <option value="-1">random</option>
          <!--
          <% for (var i = 0; i < prefixes.length; i++) { %>
            <%
              if (typeof prefixes[i] == 'string') {
                var pfix = prefixes[i];
              } else {
                var pfix = prefixes[i].map(e => typeof(e) == 'string' ? e : "")
                pfix = pfix.join(" ");
              }
            %>
            <option value="<%= i %>"><%= pfix %></option>
          <% } %>-->
        </select>
      </div>
    </form>
    <% if (supporturl) { %>
      <div>
        Support link: <a href="<%= supporturl %>"><%= supporturl %></a>
      </div>
      <div>
        <input id="supporturl" value="<%= supporturl %>" readonly></input>
        <button onclick="copySupportURL()">copy</button>
      </div>
      <script type="text/javascript">
        function copySupportURL() {
          document.getElementById("supporturl").select();
          document.execCommand("Copy");
        }
      </script>
    <% } %>
  </body>
</html>
